@import "./scss/theme";
@import "./scss/layout";
@import "./scss/animationBtnNavBar";
body{
  script{
    display: none;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body * {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}

.fa-2x {
  font-size: 6vw;
}

// css display mobile

  .app {
    width: 100vw;
    height: 100%;
    flex-direction: column;
    .header{
      background-color: $secondaryColor;
      height: $header-height;
      flex-direction: column;
      .header-content{
        padding: $paddingSimple;
        width: 100%;
        justify-content: center;
        align-items: center;
        .header-icon{
          display: flex;
          @include buttonNavBar;
          padding-right: $paddingSimple;
        }
        .header-list{
          display: none;
        }
      }
      #toggle-header{
        display: none;
        position: absolute;
        flex-direction: column;
        position: relative;
        .header-item{
          height: 40px;
          background-color: $lightGrey;
        }
      }
      #toggle-header.active{
        display: flex;
      }
      .search-bar{
        height: 80%;
        flex: 1;
        background-color: $lightColor;
        border-radius: $round-size-small;
        padding: 0 $paddingDouble;
      }

    }
    .content{
      padding: $paddingSimple;
      flex-direction: column;
      background-color: $lightColor;
      .banner{
        background-color: red;
        height: auto;
        width: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit:cover;
        }
      }
      .display-quote{
        flex-direction: column;
        .quote{
          border: $simpleBorder;
          width: 100%;
          height: 200px;
          flex: 1;
          .img{
            width: 200px;
            height: 100%;
            background-color: green;
            justify-content: center;
            align-items: center;
            img{
              width: 100%;
              height: 100%;
              object-fit:cover;
            }
          }
          .content-quote{
            padding: $paddingSimple;
            flex: 1;
            background-color: $lightGrey;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            .quote-author{
              display: flex;
              align-items: center;
              i{
                color: $primaryColor;
              }

              .quote-author-value{
                padding-left: $paddingDouble;
              }
            }
            .quote-date{
              display: flex;
              align-items: center;
              i{
                color: $primaryColor;
              }
              .quote-date-value{
                padding-left: $paddingDouble;
              }
            }
          }
        }
      }
    }
    .footer {
      background-color: $secondaryColor;
      height: $footer-height;
      .footer-content{
        width: 100%;
        justify-content: center;
        align-items: center;
        p{
          font-size: 4vw;
        }
      }   
    }
  }

// css display tablet

@media (min-width: $breakpoint-mobile) { 
  .fa-2x {
    font-size: 3.5vw;
  }
  .app {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    .header{
      background-color: $secondaryColor;
      height: $header-height;
      .header-content{
        width: 100%;
        height: 100%;
        .header-icon{
          display: none;
        }
        .header-list{
          display: flex;
          align-items: center;
          height: 100%;
          .header-item{
            align-items: center;
            justify-content: center;
            width: 10vw;
            margin-right: $paddingSimple;
            color: $lightGrey;
            background-color: $primaryColor;
            border-radius: $round-size-small;
            height: 60%;
          }
        }
        .search-bar{
          height: 80%;
          width: 300px;
        }
      }
      .toggle-header-item{
        display: none;
      }
    }
    .content{
      padding: $paddingSimple;
      flex-direction: column;
      background-color: aquamarine;
      height: 100%;
      justify-content: space-around;
      .banner{
        height: calc(48vh - 80px);
        width: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit:cover;
        }
      }
      .display-quote{
        width: 100%;
        height: calc(48vh - 80px);
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        .quote{
          width: 100%;
          height: 200px;
          flex: 1 0 48%;
          border: $simpleBorder;
          .img{
            width: 200px;
            height: 100%;
            justify-content: center;
            align-items: center;
            img{
              width: 100%;
              height: 100%;
              object-fit:cover;
            }
          }
          .content-quote{
            padding: $paddingSimple;
            flex: 1;
            background-color: $lightGrey;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
          }
        }
      }
    }
    .footer {
      background-color: $secondaryColor;
      height: $footer-height;
      .footer-content{
        width: 100%;
        justify-content: center;
        align-items: center;
      }   
    }
  }
}

// css display desktop
@media (min-width: $breakpoint-tablet) {
  .fa-2x {
    font-size: 3vw;
  }
  .app {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    .header{
      position: fixed;
      width: 100%;
      background-color: $secondaryColor;
      height: $header-height;
      justify-content: center;
      flex-direction: column;
      .header-content{
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .header-icon{
          display: none;
        }
        .header-list{
          height: 100%;
          align-items: center;
          justify-content: space-around;
          .header-item{
            width: 120px;
            height: 60%;
            justify-content: center;
            align-items: center;
            margin-right: $paddingSimple;
            color: $lightGrey;
            background-color: $primaryColor;
            border-radius: $round-size-small;
          }
        }
        
      }
      .toggle-header-item{
        display: none;
      }
    }
    .content{
      padding-top: $padding-top-content-desktop;
      background-color: $lightColor;
      height: calc(100%);
      flex-direction: row;
      justify-content: space-around;
      .banner{
        height: $height-banner-desktop;
        width: 49%;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
          height: 100%;
          object-fit:cover;
        }
      }
      .display-quote{
        overflow-y: auto;
        width: 49%;
        height: calc(100vh - 180px);
        .quote{
          width: 100%;
          flex:1;
          border: $doubleBorder;
          .img{
            width: 300px;
            flex: 1;
            justify-content: center;
            align-items: center;
            img{
              width: 100%;
              height: 100%;
              object-fit:cover;
            }
          }
          .content-quote{
            padding: $paddingDouble;
            flex: 1;
            background-color: $lightGrey;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
          }
        }
      }
    }
    .footer {
      background-color: $secondaryColor;
      height: $footer-height;
      color: $primaryColor;
      .footer-content{
        width: 100%;
        justify-content: center;
        align-items: center;
        p{
          font-size: 2.5vw;
        }
      }  
    }
  }
}





